*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1rem = 10px;  10px/16px = 62.5%

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
  //   Below can be font-sizes for another screens
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 80vh;

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 20vh max-content;
  }
}

span {
  font-weight: bold;
}
