// colors:
$color-primary: #0b0d17;
$color-light: #d0d6f9;
$color-lighter: #ffffff;

// fonts:
$text-small: "Barlow Condensed", sans-serif;
$text-large: "Bellefair", serif;

// RESPONSIVE BREAKPOINTS:
$bp-largest: 68.75em; // 1100px

$bp-large: 56.25rem; // 900px
$bp-medium: 43.75em; // 700px
$bp-small: 34.375em; // 550px
$bp-smaller: 21.875em; // 350px
