// colors:
$color-primary: #0b0d17;
$color-light: #d0d6f9;
$color-lighter: #ffffff;

// fonts:
$text-small: "Barlow Condensed", sans-serif;
$text-large: "Bellefair", serif;

// RESPONSIVE BREAKPOINTS:
$bp-largest: 68.75em; // 1100px

// $bp-large: 62.5rem; // 1000px
// $bp-medium: 50em; // 800px
// $bp-small: 37.5em; // 600px
