.container-crew-page {
  background-image: url(../img/crew/background-crew-desktop.jpg);

  @media only screen and (max-width: $bp-large) {
    background-image: url(../img/crew/background-crew-tablet.jpg);
  }

  .main {
    grid-template-columns: minmax(min-content, 35vw) minmax(32vw, max-content);
    // grid-gap: 5rem;
    // grid-template-rows: repeat(2, max-content);
    grid-template-rows: max-content 75vh;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: minmax(min-content, 40vw) minmax(32vw, max-content);
    }

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: 80vw;
      grid-template-rows: repeat(2, max-content) min-content;
      grid-gap: 8rem;
    }

    .heading-5 {
      grid-column: 1/-1;
      grid-row: 1/2;
    }

    .description {
      display: grid;
      grid-row: 2/-1;
      grid-column: 1/2;
      justify-self: start;
      align-self: start;

      @media only screen and (max-width: $bp-large) {
        grid-row: 2/3;
      }

      @media only screen and (max-width: $bp-small) {
        grid-row: 3/-1;
        grid-template-rows: repeat(4, max-content);
        grid-gap: 4rem;
      }

      .body-text {
        border-bottom: none;
      }

      .sliders-btns {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, max-content);
        margin-top: 8rem;

        @media only screen and (max-width: $bp-large) {
          justify-self: center;
        }

        @media only screen and (max-width: $bp-small) {
          grid-row: 1/2;
          margin-top: 0;
        }

        .btn-slider {
          width: 1.5rem;
          height: 1.5rem;
          background: #ffffff;
          border-radius: 50%;
          opacity: 0.17;
          transition: all 0.2s;

          &--active {
            opacity: 1;
          }

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }

    .title {
      display: grid;
      grid-column: 2/-1;
      grid-row: 1/-1;

      width: 100%;
      position: relative;

      @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;
        grid-row: 3/-1;
        // width: 50vw;
      }

      @media only screen and (max-width: $bp-small) {
        grid-row: 2/3;
        justify-self: center;
        border-bottom: 2px solid #4f4f4f;
      }

      .img {
        // display: grid;
        // justify-self: end;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        @media only screen and (max-width: $bp-large) {
          // display: block;
          position: relative;
          width: 50vw;

          @media only screen and (max-width: $bp-small) {
            margin-bottom: -1px;
          }
        }
        img {
          // text-align: end;
          width: 100%;
          // height: 100%;
        }
      }
    }
  }
}
