.nav__btn {
  //   display: block;
  //   height: 100%;
  padding: 3rem 0;
  @extend %text;
  background: none;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  border: none;

  @media only screen and (max-width: $bp-medium) {
    padding: 5rem 0;
  }

  &:hover {
    border-bottom: 1.5px solid $color-light;
    cursor: pointer;
    opacity: 0.5;
  }

  &--active {
    border-bottom: 1px solid $color-light;
  }
}
