.main {
  // display: grid;
  // grid-template-rows: repeat(2, max-content);
  // grid-gap: 3rem;

  // @media only screen and (max-width: $bp-large) {
  //   grid-gap: 8rem;
  // }

  display: grid;
  // grid-template-columns: min-content 30vw;

  justify-content: center;
  align-items: center;
  grid-gap: 10rem;
  // min-height: 100vh;

  @media only screen and (max-width: $bp-largest) {
    grid-gap: 5rem;
  }

  @media only screen and (max-width: $bp-large) {
    // grid-template-columns: max-content;
    grid-template-columns: 80vw;
    grid-column: 1/-1;
    grid-gap: 3rem;
    margin-top: 3rem;
    text-align: center;
  }

  .heading-5 {
    justify-self: start;
    align-self: start;
    grid-column: 1/-1;

    @media only screen and (max-width: $bp-large) {
      justify-self: start;
    }
  }

  .title {
    // @media only screen and (max-width: $bp-large) {
    //   justify-content: center;
    //   grid-gap: 5rem;
    // }

    .img {
      img {
        width: 100%;
        // height: 100%;
      }
    }
  }

  .heading-1 {
    font-size: 11rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 10rem;
    }
  }

  .description {
    display: grid;
    justify-content: center;
    grid-gap: 3rem;

    .navigation {
      &__list {
        grid-gap: 5rem;
        padding: 0;
        @media only screen and (max-width: $bp-large) {
          justify-content: center;
        }
      }
    }

    .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 4rem;

      @media only screen and (max-width: $bp-small) {
        grid-template-columns: max-content;
        grid-gap: 4rem;
        justify-self: center;
        align-items: center;
      }

      .detail {
        display: grid;
        grid-gap: 1rem;
        justify-self: start;
        text-align: left;

        @media only screen and (max-width: $bp-large) {
          justify-self: center;
          text-align: center;
        }

        @media only screen and (max-width: $bp-small) {
          grid-gap: 1.5rem;
        }
      }
    }
  }
}
