*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 43.75%; } }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  background-size: cover; }

span {
  font-weight: bold; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  color: #ffffff;
  font-family: "Bellefair", serif; }

.subheading--2, .nav__btn {
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif; }

.heading-1 {
  font-size: 15rem;
  font-weight: 300;
  line-height: 15rem;
  text-transform: uppercase; }

.heading-2 {
  font-size: 10rem; }

.heading-3 {
  font-size: 5.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5; }

.heading-5 {
  font-size: 2.8rem;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 4.75px;
  text-transform: uppercase; }
  @media only screen and (max-width: 34.375em) {
    .heading-5 {
      font-size: 3rem; } }
  @media only screen and (max-width: 25em) {
    .heading-5 {
      font-size: 2rem; } }

.subheading {
  text-transform: uppercase; }
  .subheading--1 {
    font-size: 2.8rem;
    color: #ffffff;
    font-family: "Bellefair", serif; }
  .subheading--2 {
    font-size: 1.4rem;
    letter-spacing: 2.35px; }

.body-text {
  font-size: 1.8rem;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  line-height: 3.2rem; }

.navigation__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 2rem;
  padding: 0 10rem;
  list-style: none;
  z-index: 1; }
  @media only screen and (max-width: 56.25rem) {
    .navigation__list {
      padding: 0 5rem; } }
  .navigation__list--item {
    height: 100%; }

.header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  margin: 2rem 0 5rem 0; }
  @media only screen and (max-width: 56.25rem) {
    .header {
      margin: 0 0 5rem 0; } }
  @media only screen and (max-width: 34.375em) {
    .header {
      align-items: start; } }
  .header .navigation__header {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px); }
    @media only screen and (max-width: 34.375em) {
      .header .navigation__header {
        display: none; } }
    @media only screen and (max-width: 34.375em) {
      .header .navigation__header--item button {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25rem) {
      .header .navigation__header--item button span {
        display: none; } }
  .header__logo-img {
    margin-left: 3rem; }
    @media only screen and (max-width: 34.375em) {
      .header__logo-img {
        margin-top: 3rem; } }
  .header__line {
    height: 0.5px;
    margin: 0 -2.5rem 0 5rem;
    background-color: #d0d6f9;
    opacity: 0.25;
    z-index: 5; }
    @media only screen and (max-width: 68.75em) {
      .header__line {
        background-color: transparent; } }
  .header__nav-mob {
    display: none;
    background-color: transparent;
    border: none;
    margin-right: 3rem; }
    .header__nav-mob:hover {
      cursor: pointer; }
    @media only screen and (max-width: 34.375em) {
      .header__nav-mob {
        display: block; } }
    .header__nav-mob-item {
      position: relative;
      margin-top: 1rem; }
      @media only screen and (max-width: 34.375em) {
        .header__nav-mob-item {
          margin-top: 5rem; } }
      .header__nav-mob-item::before, .header__nav-mob-item::after, .header__nav-mob-item {
        width: 4rem;
        height: 2.5px;
        background-color: #d0d6f9;
        display: inline-block; }
      .header__nav-mob-item::before, .header__nav-mob-item::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .header__nav-mob-item::before {
        top: -1rem; }
      .header__nav-mob-item::after {
        top: 1rem; }
  .header .onclick {
    background-color: transparent;
    z-index: 80; }
    .header .onclick::before {
      transform: rotate(135deg);
      top: 0; }
    .header .onclick::after {
      top: 0;
      transform: rotate(-135deg); }
  .header .nav-mobile {
    z-index: 50; }
    .header .nav-mobile .navigation__list {
      display: none; }
      @media only screen and (max-width: 34.375em) {
        .header .nav-mobile .navigation__list {
          display: grid;
          grid-template-rows: repeat(4, max-content);
          grid-template-columns: max-content;
          grid-gap: 4rem;
          width: 66.6vw;
          height: 100vh;
          position: fixed;
          top: 0;
          right: 0;
          padding-top: 20rem;
          background: rgba(255, 255, 255, 0.04);
          backdrop-filter: blur(40.7742px); } }
      @media only screen and (max-width: 34.375em) {
        .header .nav-mobile .navigation__list--item .nav__btn {
          padding: 0;
          font-size: 3rem; } }
      .header .nav-mobile .navigation__list span {
        display: inline-block; }

.container-crew-page {
  background-image: url(../img/crew/background-crew-desktop.jpg); }
  @media only screen and (max-width: 56.25rem) {
    .container-crew-page {
      background-image: url(../img/crew/background-crew-tablet.jpg); } }
  @media only screen and (max-width: 34.375em) {
    .container-crew-page {
      background-image: url(../img/crew/background-crew-mobile.jpg); } }
  .container-crew-page .main {
    grid-template-columns: minmax(min-content, 35vw) minmax(32vw, max-content);
    grid-template-rows: max-content 75vh; }
    @media only screen and (max-width: 68.75em) {
      .container-crew-page .main {
        grid-template-columns: minmax(min-content, 40vw) minmax(32vw, max-content); } }
    @media only screen and (max-width: 56.25rem) {
      .container-crew-page .main {
        grid-template-columns: 80vw;
        grid-template-rows: repeat(2, max-content) min-content;
        grid-gap: 8rem; } }
    .container-crew-page .main-crew--specialist {
      grid-template-columns: minmax(min-content, 35vw) minmax(30vw, max-content); }
      @media only screen and (max-width: 56.25rem) {
        .container-crew-page .main-crew--specialist {
          grid-template-columns: 80vw; } }
    .container-crew-page .main .heading-5 {
      grid-column: 1/-1;
      grid-row: 1/2; }
    .container-crew-page .main .description {
      display: grid;
      grid-row: 2/-1;
      grid-column: 1/2;
      justify-self: start;
      align-self: start; }
      @media only screen and (max-width: 56.25rem) {
        .container-crew-page .main .description {
          grid-row: 2/3; } }
      @media only screen and (max-width: 34.375em) {
        .container-crew-page .main .description {
          grid-row: 3/-1;
          grid-template-rows: repeat(4, max-content);
          grid-gap: 4rem; } }
      .container-crew-page .main .description .sliders-btns {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(4, max-content);
        margin-top: 7rem; }
        @media only screen and (max-width: 68.75em) {
          .container-crew-page .main .description .sliders-btns {
            margin-top: 6rem; } }
        @media only screen and (max-width: 56.25rem) {
          .container-crew-page .main .description .sliders-btns {
            justify-self: center; } }
        @media only screen and (max-width: 34.375em) {
          .container-crew-page .main .description .sliders-btns {
            grid-row: 1/2;
            margin-top: 0; } }
        .container-crew-page .main .description .sliders-btns .btn-slider {
          width: 1.5rem;
          height: 1.5rem;
          background: #ffffff;
          border-radius: 50%;
          opacity: 0.17;
          transition: all 0.2s; }
          .container-crew-page .main .description .sliders-btns .btn-slider--active {
            opacity: 1; }
          .container-crew-page .main .description .sliders-btns .btn-slider:hover {
            cursor: pointer;
            opacity: 0.5; }
    .container-crew-page .main .title {
      display: grid;
      grid-column: 2/-1;
      grid-row: 1/-1;
      width: 100%;
      position: relative; }
      @media only screen and (max-width: 56.25rem) {
        .container-crew-page .main .title {
          grid-column: 1/-1;
          grid-row: 3/-1;
          margin: 0; } }
      @media only screen and (max-width: 34.375em) {
        .container-crew-page .main .title {
          grid-row: 2/3;
          justify-self: center;
          border-bottom: 2px solid #4f4f4f; } }
      .container-crew-page .main .title .img {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0; }
        @media only screen and (max-width: 56.25rem) {
          .container-crew-page .main .title .img {
            position: relative;
            width: 50vw; } }
  @media only screen and (max-width: 56.25rem) and (max-width: 34.375em) {
    .container-crew-page .main .title .img {
      margin-bottom: -1px; } }
        .container-crew-page .main .title .img img {
          width: 100%; }

.container-destination-page {
  background-image: url(../img/destination/background-destination-desktop.jpg); }
  @media only screen and (max-width: 56.25rem) {
    .container-destination-page {
      background-image: url(../img/destination/background-destination-tablet.jpg); } }
  @media only screen and (max-width: 56.25rem) {
    .container-destination-page {
      background-image: url(../img/destination/background-destination-mobile.jpg); } }
  .container-destination-page .main {
    grid-template-columns: 40vw 30vw; }
    @media only screen and (max-width: 56.25rem) {
      .container-destination-page .main {
        grid-template-columns: 80vw;
        grid-template-rows: repeat(2, min-content); } }
    .container-destination-page .main .title {
      display: grid;
      grid-gap: 5rem; }
      .container-destination-page .main .title .img {
        padding-bottom: 4rem; }
        @media only screen and (max-width: 68.75em) {
          .container-destination-page .main .title .img {
            width: 34rem;
            padding-bottom: 0; } }
        @media only screen and (max-width: 56.25rem) {
          .container-destination-page .main .title .img {
            width: 44.5rem;
            margin-top: 0;
            justify-self: center; } }
        @media only screen and (max-width: 34.375em) {
          .container-destination-page .main .title .img {
            width: 70vw; } }

.container-home-page {
  background-image: url(../img/home/background-home-desktop.jpg); }
  @media only screen and (max-width: 56.25rem) {
    .container-home-page {
      background-image: url(../img/home/background-home-tablet.jpg); } }
  .container-home-page .main {
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    align-items: center;
    justify-content: center;
    grid-gap: 10vw;
    min-height: 70vh;
    margin: 5rem auto;
    z-index: 30; }
    @media only screen and (max-width: 68.75em) {
      .container-home-page .main {
        grid-gap: 10vw; } }
    @media only screen and (max-width: 56.25rem) {
      .container-home-page .main {
        grid-template-columns: 70vw;
        grid-template-rows: repeat(2, max-content);
        align-items: center;
        justify-content: center;
        grid-gap: 8vw; } }
    .container-home-page .main__description {
      display: grid;
      grid-gap: 3rem; }
      @media only screen and (max-width: 56.25rem) {
        .container-home-page .main__description {
          text-align: center; } }
      .container-home-page .main__description .body-text {
        padding-bottom: 4rem;
        border-bottom: 2px solid #383b4b; }
    .container-home-page .main h1 {
      padding-top: 2rem; }
    .container-home-page .main .explore {
      justify-self: end; }
      @media only screen and (max-width: 56.25rem) {
        .container-home-page .main .explore {
          justify-self: center; } }
      .container-home-page .main .explore__btn {
        width: 27.4rem;
        height: 27.4rem;
        margin-top: 8rem;
        background-color: #ffffff;
        color: #0b0d17;
        font-size: 3.2rem;
        font-family: "Bellefair", serif;
        text-transform: uppercase;
        border: none;
        border-radius: 50%;
        z-index: 20;
        transition: all 0.4s; }
        @media only screen and (max-width: 34.375em) {
          .container-home-page .main .explore__btn {
            width: 20rem;
            height: 20rem; } }
        .container-home-page .main .explore__btn:hover {
          outline: 10rem solid rgba(255, 255, 255, 0.1);
          cursor: pointer; }
          @media only screen and (max-width: 34.375em) {
            .container-home-page .main .explore__btn:hover {
              outline: 7rem solid rgba(255, 255, 255, 0.1); } }

.container-technology-page {
  background-image: url(../img/technology/background-technology-desktop.jpg); }
  @media only screen and (max-width: 56.25rem) {
    .container-technology-page {
      background-image: url(../img/technology/background-technology-tablet.jpg); } }
  @media only screen and (max-width: 34.375em) {
    .container-technology-page {
      background-image: url(../img/technology/background-technology-mobile.jpg); } }
  .container-technology-page .main {
    grid-template-columns: min-content 40vw 32vw;
    justify-content: end;
    align-content: center;
    grid-gap: 8rem;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25rem) {
      .container-technology-page .main {
        grid-template-columns: 1fr 75vw 1fr;
        grid-template-rows: repeat(4, max-content);
        justify-content: center; } }
    @media only screen and (max-width: 43.75em) {
      .container-technology-page .main {
        grid-template-columns: 1fr 69vw 1fr; } }
    @media only screen and (max-width: 34.375em) {
      .container-technology-page .main .heading-5 {
        justify-self: center; } }
    .container-technology-page .main .sliders-btns {
      display: grid;
      grid-template-columns: max-content;
      grid-template-rows: repeat(3, max-content);
      grid-gap: 4rem; }
      @media only screen and (max-width: 56.25rem) {
        .container-technology-page .main .sliders-btns {
          grid-template-rows: max-content;
          grid-template-columns: repeat(3, max-content);
          justify-self: center;
          grid-column: 2/3; } }
      .container-technology-page .main .sliders-btns .btn-slider {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        font-size: 3.2rem;
        color: #ffffff;
        border: 1px solid #868686;
        border-radius: 50%; }
        .container-technology-page .main .sliders-btns .btn-slider--active {
          background-color: #ffffff;
          color: #0b0d17; }
        .container-technology-page .main .sliders-btns .btn-slider:hover {
          border: 1px solid #ffffff;
          cursor: pointer; }
    .container-technology-page .main .description {
      padding: 0 1vw; }
      @media only screen and (max-width: 56.25rem) {
        .container-technology-page .main .description {
          grid-column: 2/3;
          padding: 0; } }
    .container-technology-page .main .title {
      width: 100%; }
      @media only screen and (max-width: 56.25rem) {
        .container-technology-page .main .title {
          grid-column: 1/-1;
          grid-row: 2/3; } }
      .container-technology-page .main .title .img {
        width: 100%;
        overflow: hidden; }
        .container-technology-page .main .title .img img {
          width: 100%; }

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10rem;
  min-height: 90vh; }
  @media only screen and (max-width: 68.75em) {
    .main {
      grid-gap: 5rem; } }
  @media only screen and (max-width: 56.25rem) {
    .main {
      grid-template-columns: 80vw;
      grid-column: 1/-1;
      grid-gap: 3rem;
      margin-top: 3rem;
      text-align: center; } }
  .main .heading-5 {
    justify-self: start;
    align-self: start;
    grid-column: 1/-1; }
    @media only screen and (max-width: 56.25rem) {
      .main .heading-5 {
        justify-self: start; } }
  .main .title .img img {
    width: 100%; }
  .main .heading-1 {
    font-size: 11rem; }
    @media only screen and (max-width: 43.75em) {
      .main .heading-1 {
        font-size: 10rem; } }
  .main .description {
    display: grid;
    justify-content: center;
    grid-gap: 3rem; }
    .main .description .navigation__list {
      grid-gap: 5rem;
      padding: 0; }
      @media only screen and (max-width: 56.25rem) {
        .main .description .navigation__list {
          justify-content: center; } }
    .main .description .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 4rem; }
      @media only screen and (max-width: 34.375em) {
        .main .description .details {
          grid-template-columns: max-content;
          grid-gap: 4rem;
          justify-self: center;
          align-items: center; } }
      .main .description .details .detail {
        display: grid;
        grid-gap: 1rem;
        justify-self: start;
        text-align: left; }
        @media only screen and (max-width: 56.25rem) {
          .main .description .details .detail {
            justify-self: center;
            text-align: center; } }
        @media only screen and (max-width: 34.375em) {
          .main .description .details .detail {
            grid-gap: 1.5rem; } }

.nav__btn {
  padding: 3rem 0;
  background: none;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  border: none; }
  @media only screen and (max-width: 43.75em) {
    .nav__btn {
      padding: 5rem 0; } }
  .nav__btn:hover {
    border-bottom: 1.5px solid #d0d6f9;
    cursor: pointer;
    opacity: 0.5; }
  .nav__btn--active {
    border-bottom: 1px solid #d0d6f9; }
