.header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  //   margin-top: 1rem;
  &__logo-img {
    margin-left: 3rem;
  }

  &__line {
    height: 0.5px;
    margin: 0 -2.5rem 0 5rem;
    background-color: $color-light;
    opacity: 0.25;
    z-index: 5;

    @media only screen and (max-width: $bp-largest) {
      background-color: transparent;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 2rem;
    padding: 0 10rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    list-style: none;
    z-index: 1;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &--item {
      height: 100%;

      span {
        @media only screen and (max-width: $bp-large) {
          display: none;
        }
      }
    }
  }

  &__nav-mob {
    display: none;

    @media only screen and (max-width: $bp-small) {
      display: block;
      margin-right: 3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
